<div style="text-align: center;">
  <h1>8-Player Tournament Bracket!</h1>
</div>
<nav>
  <a id="welcome" routerLink="/hello" routerLinkActive="active">Welcome</a> |
  <a id="registration" routerLink="/registration" routerLinkActive="active">Registration</a> |
  <a id="brackets" routerLink="/brackets" routerLinkActive="active">Brackets</a>
</nav>

<!--<app-hello></app-hello>//-->
<!--<app-brackets></app-brackets>//-->
<!--<app-registration></app-registration>//-->

<router-outlet></router-outlet>
