<h1>Round: {{ observableCurrentRound }}</h1>
<p *ngIf="informationMessages != ''">{{ informationMessages }}</p>
<div *ngIf="finalWinner != ''">
  <p>Winner: {{ finalWinner }}</p>
</div>
<div *ngIf="finalWinner == ''">
  <div class="form-group">
    <form (ngSubmit)="selectWinners(brackets)">
      <div *ngFor="let bracket of brackets; let i=index; trackBy:trackByFn">
        <p>Match {{ i + 1}}</p>
        <input type="radio" name="match{{i}}" value="{{ bracket[0] }}" [(ngModel)]="bracket[2]"> {{ bracket[0] }}
        <input type="radio" name="match{{i}}" value="{{ bracket[1] }}" [(ngModel)]="bracket[2]"> {{ bracket[1] }}
      </div>
      <button type="submit">Complete Round</button>
    </form>
  </div>
</div>
