<h1>Register Players</h1>
<div class="form-group">
  <form>
    <ul>
      <li><input type="text"
        placeholder="Contestant 0"
        required
        name="contestant0"></li>
      <li><input type="text"
        placeholder="Contestant 1"
        required
        name="contestant1"></li>
      <li><input type="text"
        placeholder="Contestant 2"
        required
        name="contestant2"></li>
      <li><input type="text"
        placeholder="Contestant 3"
        required
        name="contestant3"></li>
      <li><input type="text"
        placeholder="Contestant 4"
        required
        name="contestant4"></li>
      <li><input type="text"
        placeholder="Contestant 5"
        required
        name="contestant5"></li>
      <li><input type="text"
        placeholder="Contestant 6"
        required
        name="contestant6"></li>
      <li><input type="text"
        placeholder="Contestant 7"
        required
        name="contestant7"></li>
    </ul>
    <button>Register Contestants</button>
    <br><button>Autofill 2 Players</button>
        <button>Autofill 4 Players</button>
        <button>Autofill 8 Players</button>
  </form>
